<ion-list>
  @if(displayLogo === true){
  <ion-list-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        @if(!visible){
        <ion-button
          role="button"
          size="small"
          [attr.aria-label]="'butons.close' | translate"
          (click)="closeMenu()"
        >
          <iamanderson-icon
            [name]="'close'"
            slot="start"
            size="small"
          ></iamanderson-icon>
        </ion-button>
        }
      </ion-buttons>
      <ion-title (click)="toggleDebug()">{{
        'common.appTitle' | translate
      }}</ion-title>
    </ion-toolbar>
  </ion-list-header>
  }
  <ion-menu-toggle color="primary" auto-hide="false">
    @for(p of appPages; track p.id; let idx = $index){
    <ng-container>
      @if( p.tipo === tipoLink.INTERNAL){
      <ion-item
        color="primary"
        routerDirection="root"
        [routerLink]="p.url"
        lines="none"
        detail="true"
        routerLinkActive="selected"
        data-test="nav-list-item-"
        {{idx}}
      >
        <iamanderson-icon slot="start" [name]="p.icon"></iamanderson-icon>
        <iamanderson-label [attr.aria-label]="p.title | translate">{{
          p.title | translateMessage | translate
        }}</iamanderson-label>
      </ion-item>
      }@else if( p.tipo === tipoLink.EXTERNAL){
      <ion-item
        color="primary"
        routerDirection="root"
        [href]="p.url"
        [target]="p.target"
        lines="none"
        detail="true"
        routerLinkActive="selected"
        data-test="nav-list-items"
      >
        <iamanderson-icon slot="start" [name]="p.icon"></iamanderson-icon>
        <iamanderson-label [attr.aria-label]="p.title | translate">{{
          p.title | translateMessage | translate
        }}</iamanderson-label>
      </ion-item>
      }
    </ng-container>
    } @if(debug===true){
    <ion-item
      color="primary"
      routerDirection="root"
      lines="none"
      detail="true"
      routerLinkActive="selected"
      data-test="nav-list-item-debug"
    >
      <iamanderson-icon slot="start" [name]="'bug'"></iamanderson-icon>
      <iamanderson-label [attr.aria-label]="'Debug'">
        Depurador
      </iamanderson-label>
    </ion-item>
    }
  </ion-menu-toggle>
</ion-list>
